/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/pricing.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.pricing_fancyOverlay__36Dat,
.pricing_fancyGlass__q8Zpr {
  --primary-light: #c084fc;
  --primary-main: #a855f7;
  --primary-darker: #581c87;
  --secondary-light: #22d3ee;
  --secondary-main: #06b6d4;
  --secondary-darker: #164e63;
  --glass-color: 6, 182, 212;
}

/**
  * Overlay gradients & animation - used as page background.
  */
@property --fancy-x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --fancy-y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@keyframes pricing_roundabout___CjS3 {
  0% {
    --fancy-x: 60%;
    --fancy-y: 20%;

    opacity: 0;
  }

  5% {
    --fancy-x: 80%;
    --fancy-y: 10%;
  }

  20% {
    --fancy-x: 95%;
    --fancy-y: 5%;

    opacity: var(--maximum-opacity);
  }

  100% {
    --fancy-x: 100%;
    --fancy-y: 0%;

    opacity: var(--maximum-opacity);
  }
}

.pricing_fancyOverlay__36Dat::after {
  --maximum-opacity: 0.1;

  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    54deg,
    var(--primary-light) var(--fancy-y) var(--fancy-y),
    var(--secondary-light) var(--fancy-x) var(--fancy-x)
  );
  animation: pricing_roundabout___CjS3 10s ease-in-out both;
}

/**
  * Glass effect with a gradient background and blur - used for highlighting pricing cards.
  */
.pricing_fancyGlass__q8Zpr,
.pricing_fancyGlassContrast__1O1JX {
  background: radial-gradient(
      63.94% 63.94% at 50% 0%,
      rgba(var(--glass-color), 0.12) 0%,
      rgba(var(--glass-color), 0) 100%
    ),
    rgba(var(--glass-color), 0.01);
  backdrop-filter: blur(6px);
  position: relative;
  overflow: hidden;
}

.pricing_fancyGlassContrast__1O1JX:after {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: var(--primary-darker);
  opacity: 0.1;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
}

.pricing_fancyGlassContrast__1O1JX:before,
.pricing_fancyGlass__q8Zpr:before {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(
      rgba(var(--glass-color), 0.12) 0%,
      rgba(var(--glass-color), 0) 74.04%
    ),
    linear-gradient(
      0deg,
      rgba(var(--glass-color), 0.04),
      rgba(var(--glass-color), 0.04)
    );
  position: absolute;
  top: -1px;
  left: -1px;
  mask: url("data:image/svg+xml,%3Csvg width='402' height='202' viewBox='0 0 402 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='401' height='201' rx='9.5' /%3E%3C/svg%3E%0A");
  pointer-events: none;
}
